.half-width{
    width: 40%;
    float: left;
    padding-top:1% ;
    padding-left: 4%;
    height: 400px;

}
.half-width img{
    width: 100%;
}
.adjust{
    margin-top: 210px;
}

h1 {
    font-size: 2.5em;
    margin-block-start:0.0em ;
    margin-block-end: 0.0;
}

span{
    color: #FF8367;
}

.link-btn{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(LightSalmon,tomato);
}